* {
  box-sizing: border-box;
  text-align: center;
}

header, nav {
  padding: 15px;
  margin-bottom: 15px;
  background: #ebebeb;
}

body {
	background-color: #777;
}


.section{
    background-color: #ebebeb;
	padding: 50px;
	margin: 0 2% 0 0;
	width: 69%;
	float: left;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.siteFooter {
  background: #ebebeb;
  border: 15px;
  padding: 25px;
  margin-top: 35px;
  width: 100%;
}
	

#body-container{
width: 80%;
margin: 0 auto;
}


.article {
	background-color: #777;
	padding: 50px;
	margin: 0 auto;
	width: 90%;
}

#H1H2H3{
 
 background-color: #ebebeb;
 margin-top: 200px;
 text-align: center;
 padding: 20px;
 text-align: center;

}


#p {
 
 padding: 20px;
 margin: 10px;
 background-color: #ebebeb;
 text-align: center;
}


aside {
  width: 29%;
  height: 575px;
  padding: 20px;
  background-color: #ebebeb;
  float: left;
}
